.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 10vh;
}

.App-body {
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 20vh;
}

